@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}



html, body {
    height: 100vh;
    width: 100vw;
    background-color: black;
}


body {
    /*background-image: url('../projeto-redes-sociais/fundo-madeira.jpg');
    height: 100vh; */
    background-size: cover;
    background-attachment: fixed;
}



main {
    position: relative;
    background-image: url('../projeto-redes-sociais/fundo-madeira.jpg');
    height: 100px;
    height: 100vh;
    background-color: rgb(228, 235, 228);
}


section#telefone {
    position: absolute;
    top: 20%;
    left: 40%;
    transform: translate (-20%, -40%);

    height: 627px;
    width: 320px;
    background: url('../projeto-redes-sociais/frame-iphone.png') no-repeat;
}


iframe#tela {
    position: absolute;
    top: 28.5%;
    left: 41.3%;
    height: 470px;
    width: 261px;
    
}

section#redes-sociais {
    text-align: right;
}
section#redes-sociais img {
    width: 70px;
    margin: 20px;
    border-radius: 50%;   /* serve para deixar as img's redondas */
    box-shadow: 2px 2px 5px black;
    box-sizing: border-box; /* a borda fará parte da caixa. assim não moverão todas quando passar o mouse */
}

section#redes-sociais img:hover {
    border: 2px solid white;
    transform: translate (-3px, -3px);
    transition: transform 1s, border 1s;
}